@using Safe_Heaven_2018.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section class="fancy-input__wrap">
    <div class="container">
        <form action="/" method="post" class="fancy-input__form">
            <h1>Login into Safe-Heaven</h1>

            <!--  Fancy inputs  -->
            <div class="fancy-input">
                <div class="form-group">
                    <label class="label" name="username">Username</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
                <div class="form-group">
                    <label class="label">Username</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })

                    @Html.ValidationMessageFor(m => m.Password, "")
                </div>

            

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn" value="Login" />
                </div>
            </div>
        </form>
    </div>

</section>