@using Safe_Heaven_2018.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section class="fancy-input__wrap">
    <div class="container">
        <form action="/" method="post" class="fancy-input__form">
            <h1>Login into Safe-Heaven</h1>

            <!--  Fancy inputs  -->
            <div class="fancy-input">
                <div class="form-control">
                    <label class="label">Username</label>
                    <input type="text" placeholder="Jaja Awesome">
                </div>
                <div class="form-control">
                    <label class="label">Password</label>
                    <input type="password" placeholder="Password">
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn" value="Register" />
                </div>
            </div>
        </form>
    </div>

</section>