.fancy-input__wrap {
  background-color: theme-color(primary);
  min-height: calc(100vh - 55px);
}

.fancy-input__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  @include padding-leader(3);
  @include padding-trailer(3);
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include padding-leader(4);
    @include padding-trailer(4);
  }
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    @include padding-leader(6);
    @include padding-trailer(5);
    margin-left: span(2 of 12);
    margin-right: span(2 of 12);
    @include span(8 of 12);
  }
}

.fancy-input {
  width: 100%;

  label {
    @include base-base(18px, $dff, 1, 0);
    font-weight: 700;
    color: white;
  }

  input {
    display: block;
    padding: 0 10px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid white;
    font-family: $hff, cursive;
    font-size: 16px;
    position: relative;
    @include margin-trailer(2);
    background-image: none;

    &::placeholder {
      height: 40px;
      cursor: text;
      color: white;
    }

    &:focus {
      color: white;
      border-bottom: none;
      outline: 0;
      background-image: linear-gradient(0deg,white 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);

      &:valid {
        border-bottom: 2px solid white;
      }
    }

    &.white {
      background-color: #E74C3C;
    }
  }
}
