.fancy-input__wrap {
  background-color: theme-color(primary);
  min-height: calc(100vh - 55px);
}

.fancy-input__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  @include padding-leader(3);
  @include padding-trailer(3);

  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include padding-leader(4);
    @include padding-trailer(4);
  }
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    @include padding-leader(6);
    @include padding-trailer(5);
    margin-left: span(2 of 12);
    margin-right: span(2 of 12);
    @include span(8 of 12);
  }
  
}

.fancy-input {
  width: 100%;

  label {
    @include base-base(18px, $dff, 1, 0);
    font-weight: 700;
  }

  input {
  display: block;
  padding: 0 10px;
  width: 100%;
  border: 0;
  border-bottom: 3px solid white;
  background-color: transparent;
  color: white;
  font-family: $hff, cursive;
  font-size: 16px;
  position: relative;
  @include margin-trailer(2);

  &::placeholder {
    height: 40px;
    cursor: text;
    color: white;
  }

  &:focus {
    outline: 0;
  }

  &.white {
    background-color: #E74C3C;
  }
}
}
