.form__outer_wrap {
  @extend .wrap;
}

.form__controls {
  @include padding-leader(2);
  @include padding-trailer(2);
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  background-color: white;
}

.form {
  @include padding-leader(1);
  @include padding-trailer(1);

  .btn {
    @include margin-leader(2);
    width: auto;
    max-width: 200px;
  }

  label {
    width: 100%;
  }
}

.form__title {
  @include base-base(42px, $hff, 2, 0);
}

.form__input--radio {
  display: inline-block;
  padding-right: 12px;
  width: auto;
  @include base-base(14px, $hff, 0);
  border-bottom: 0;
}

.form__input--range {
  @include margin-leader(1);
  border-bottom: 0;
  padding-top: 0;

  &:focus,
  &:valid {
    border-bottom: 0;
  }
}

.form__radio-input {
  display: inline-block;
  width: auto;
  @include base-base(14px, $hff, 0);
}


.form .form__error {
  @include margin-leader(1);
}

.form__error {
  background-color: theme-color(danger);
  color: white;
  width: auto;
  @include base-base(20px, $dff, 0, 0);
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 4px;
  @include margin-leader(0);

  p {
    padding: 0;
    margin: 0;
  }
}
