@{
ViewBag.Title = "Home Page";
}


<div class="container">

  <h1 class="lg-text">Safe Heaven</h1>
  <div class="col-md-6">
    <p>Aimed to help the kids to learn about cybersecurity.
    If we impart knowledge about in the early age this will easy for them to
    recognize this cybersecurity attack while they are using their devices.
    We will develop the application on .NET web platform. This application is for
    children 6-10 years who use internet very often from young age. With the help of the application
    they can learn the principles of cybersecurity. The game features story first-person role-playing mode
    along with short games embedded to create a gamified experience. Kids at this age are mostly not aware about
    the security issues that exist while surfing internet for games or while using social media to chat with strangers.
    This game will provide awareness on how to securely use the internet with the help of fun and easy way graphic
    interactive design proposed for the application.
    </p>
  </div>
