@{
    ViewBag.Title = "Home Page";
}

<section class="banner">
<div class="container">
        <h1 class="banner__heading lg-text">Safe Heaven</h1>
        <div class="col-md-6 banner__text">
            <p>
                Aimed to help the kids to learn about cybersecurity.
                If we impart knowledge about in the early age this will easy for them to
                recognize this cybersecurity attack while they are using their devices.</p>
                <p>The game features story first-person role-playing mode
                along with short games embedded to create a gamified experience. Kids at this age are mostly not aware about
                the security issues that exist while surfing internet for games or while using social media to chat with strangers.
                This game will provide awareness on how to securely use the internet with the help of fun and easy way graphic
                interactive design methods.
            </p>
            <div class="btn__wrap">
                <a href="#" class="btn">Register to play game</a>
                <a href="#" class="btn">Learn more</a>
            </div>
        </div>
</section>
