
@{
    ViewBag.Title = "game";
}

<section class="menu-page">
    <div class="container wrap">
        <div class="menu-page__header">
            <h1 class="menu-page__title">Safe Heaven</h1>
        </div>
        <div class="menu-page__btn-wrap btn-wrap">
            <a href="/Game/Story" class="btn btn-warning">Start</a>
            <a href="/Game/Leaderboard" class="btn btn-warning">Leaderboard</a>
        </div>
    </div>
</section>
