
@{
    ViewBag.Title = "Stages";
}

<div class="container wrap">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="icon-home"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Home</h4>
                </div>
                @*<div class="timeline-body">
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                </div>*@
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><a href="/Game/School" title="Go to School" class="timeline-link"><i class="icon-graduation-cap"></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">School</h4>
                </div>
               
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><a href="/Game/Mall" title="Go to Mall" class="timeline-link"><i class="icon-office"></i></a></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mall</h4>
                </div>
               
            </div>
        </li>
       
     
    </ul>
</div>