
@{
    ViewBag.Title = "Story";
}
<section class="gameplay wrap">
    <div class="container">
        <div class="gameplay__wrapper">
            <article class="level__section">
                <img src="/img/storyteller.png" alt="" class="storyteller">
                <div class="storyteller__dialouge">
                    <h1 class="storyteller__dialouge-title">Welcome to Safe Heaven!</h1>
                    <p>
                     This is a story of three little pandas study in a school, learning dangers of internet.
                    </p>
                    <button class="level1__next btn btn--small">Continue</button>
                </div>
            </article>

            <article class="hidden level__section">
                <div class="storyteller__img-wrap">
                    <img src="/img/storytellerRight.png" alt="" class="storyteller storyteller--left">
                </div>

                <div class="storyteller__dialouge storyteller__dialouge--left">
                    <p>Are you ready for the first challenge? If so, press continue! </p>
                    <button class="level1__next btn btn--small">Continue</button>
                </div>
            </article>

            <article class="hidden level__section">
                <img src="/img/storyteller.png" alt="" class="storyteller">

                <div class="storyteller__dialouge storyteller__dialouge">
                    <a href="/Game/Stages" class="btn btn-warning">Continue</a>
                </div>
            </article>
        </div>
    </div>
</section>
